<div class="container">
  <!--Heading -->
  <div class="Heading">
    <div class="image">
        <img class="cover" mat-card-cover src="http://localhost:8080/public/upload/{{userProfile.cover}}" alt="">
        <label for="change-cover" class="changeCover"> <mat-icon>photo_camera</mat-icon> Đổi ảnh bìa </label>
      <input class = "changeCover" id="change-cover" type="file" (change)= "changeCover($event)" hidden=true>
    </div>
    <div class="image">
      <img class="avatar" src="http://localhost:8080/public/upload/{{userProfile.avatar}} " mat-card-avatar >
      <label for="change-avatar" class="changeAvatar"> <mat-icon>photo_camera</mat-icon> </label>
      <input class = "changeAvatar" id="change-avatar" type="file" (change)= "changeAvatar($event)" hidden=true>
    </div>
    <div class="divUserName">
      <span class="UserName"> {{userProfile.name}} </span>
    </div>
    <div class="divBiology">
      <span class="Biology">{{userProfile.description}}</span>
    </div>
    <a mat-stroked-button (click)="onAddNewFriend()" class="AddFriendButtonHeading" > Thêm bạn </a>

<!--Routing button-->
    <mat-tab-group style="padding-top:20px;" mat-align-tabs="center">
      <mat-tab label="Dòng thời gian" class="TimeLine">
        <!--Content -->
        <div class="content">
          <div class="row">
            <div class="col-lg-5">
              <mat-card class="CountRating">
                <mat-card-content>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="count">
                        <span class="countTop">2</span> <br>
                        <div class="countBottom">
                          <span class="countBottom">Lượt theo dõi</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="count">
                        <span class="countTop">2</span><br>
                        <div class="countBottom">
                          <span class="countBottom">Bài viết</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="countlast">
                        <span class="countTop">2</span><br>
                        <div class="countBottom">
                          <span class="countBottom">Lượt thích</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
              <mat-card class="About">
                <mat-card-content>
                  <div class="row">
                    <div class="AboutHeader">
                      <span>Giới thiệu</span>
                    </div>
                    <div class="AboutContent">
                      <mat-icon class="AboutIcon">person</mat-icon> <span> Giới tính: <mat-icon class="AboutIcon" style="color:blue;">male</mat-icon> Nam</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="AboutHeader">
                      <span>Sở thích</span>
                    </div>
                    <div class="AboutContent">
                      <mat-chip-list aria-label="Fish selection">
                        <mat-chip><mat-icon>palette</mat-icon> Vẽ </mat-chip>
                        <mat-chip><mat-icon>headphones</mat-icon> Nghe nhạc </mat-chip>
                      </mat-chip-list>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
              <mat-card class="Friend">
                <mat-card-content>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="AboutHeader">
                        Bạn bè
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div style="float:right;" class="AboutHeader">
                        0
                      </div>
                    </div>
                  </div>

                  <div class="AboutContent">
                    Bạn bè
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-lg-7">
              <div class="StatusPost">
                <!--Status Post-->
              <mat-accordion *ngIf="_auth.loggedIn()" multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    Chào {{userProfile.name}}, ngày hôm nay của bạn thế nào?
                  </mat-expansion-panel-header>

                  <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Đăng bài viết">
                      <form>
                        <img src="http://localhost:8080/public/upload/{{userProfile.avatar}} " mat-card-avatar >
                        <mat-form-field class="full-width" appearance="outline" style="margin-top:10px;margin-left:10px;width:85%">
                          <mat-label>Bạn muốn chia sẻ điều gì?</mat-label>
                            <input
                              class="CreatePost"
                              formControlName="content"
                              matInput
                              placeholder="Bạn muốn chia sẻ điều gì?"
                            />
                        </mat-form-field>
                        <a mat-raised-button class="UploadImages"></a>
                        <br />
                        <button mat-flat-button type="submit" [disabled]="!PostForm.valid" class="submitPostBtn"> Chia sẻ </button>
                      </form>
                    </mat-tab>

                    <mat-tab label="Đăng ảnh">
                      <form (ngSubmit)="onAddNewPost()" name="PostForm" [formGroup]="PostForm">
                        <img src="http://localhost:8080/public/upload/{{userProfile.avatar}} " mat-card-avatar >
                        <mat-form-field class="full-width" appearance="outline" style="margin-top:10px;margin-left:10px;width:77%">
                          <mat-label>Bạn muốn chia sẻ điều gì?</mat-label>
                            <input
                              class="CreatePost"
                              formControlName="content"
                              matInput
                              placeholder="Bạn muốn chia sẻ điều gì?"
                            />
                        </mat-form-field>
                        <a mat-raised-button class="UploadImages">
                          <label mat-button for="UploadImages" ><mat-icon style="margin: 5px 5px; size:50px 50px; " >image</mat-icon></label>
                          <input
                            id="UploadImages" type="file" (change)= "UploadImages($event)" hidden=true;
                          />
                        </a>
                        <br />
                        <button mat-flat-button type="submit" [disabled]="!PostForm.valid" class="submitPostBtn"> Chia sẻ </button>
                      </form>
                    </mat-tab>
                  </mat-tab-group>
                </mat-expansion-panel>
              </mat-accordion>

              </div>
              <!-- POST -->
              <div class="Post" *ngFor="let post of getPost">
                <mat-card class="example-card">
                <mat-card-header>
                  <img mat-card-avatar class="example-header-image" src="http://localhost:8080/public/upload/{{post.UserAvatar}}"/>
                  <mat-card-title>{{post.UserName}}</mat-card-title>
                  <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    {{post.content}}
                  </p>
                </mat-card-content>
                <img mat-card-image src="http://localhost:8080/public/upload/{{post.images}}">
                <mat-card-actions>
                  <button mat-button (click)="LikedColorChange()" [color]="likedColor">Thích</button>
                  <button mat-button (click)="openComment = !openComment">Bình luận</button>
                  <button mat-button>Chia sẻ</button>
                </mat-card-actions>
                <mat-card-actions>
                <div class="comment" [hidden] = false>
                  <div class="comment" *ngFor = "let comment of post.Comments">
                    {{comment.content}}
                  </div>
                  <form (ngSubmit)="onAddNewComment(post.Post_ID)" name="CommentForm" [formGroup]="CommentForm">
                    <img src="http://localhost:8080/public/upload/{{userProfile.avatar}} " mat-card-avatar >
                    <mat-form-field class="full-width" >
                      <mat-label>Để lại bình luận...</mat-label>
                      <input matInput placeholder="Ex. It makes me feel..." class="full-width" formControlName="content"/>
                    </mat-form-field>
                    <button mat-flat-button type="submit" [disabled]="!CommentForm.valid"> Chia sẻ </button>
                  </form>
                </div>
                </mat-card-actions>
                <mat-card-footer>

                </mat-card-footer>
              </mat-card>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Giới thiệu">
        <div class="main-content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card">
                          <div class="card-header card-header-danger">
                              <h4 class="card-title">Edit Profile</h4>
                              <p class="card-category">Complete your profile</p>
                          </div>
                          <div class="card-body">
                              <form>
                                  <div class="row">
                                      <div class="col-md-5">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Company (disabled)" disabled>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-3">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Username">
                                          </mat-form-field>
                                      </div>
                                      <div class="col-md-4">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Email address" type="email">
                                          </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Fist Name" type="text">
                                        </mat-form-field>
                                      </div>
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Last Name" type="text">
                                        </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Adress" type="text">
                                        </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="City" type="text">
                                        </mat-form-field>
                                      </div>
                                      <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Country" type="text">
                                        </mat-form-field>
                                      </div>
                                      <div class="col-md-4">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Postal Code" type="text">
                                        </mat-form-field>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                        <label>About Me</label>
                                        <mat-form-field class="example-full-width">
                                           <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                         </mat-form-field>
                                          <!-- <div class="form-group">
                                              <div class="form-group">
                                                  <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                  <textarea class="form-control" rows="5"></textarea>
                                              </div>
                                          </div> -->
                                      </div>
                                  </div>
                                  <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                                  <div class="clearfix"></div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Bạn bè"> Danh sách bạn bè </mat-tab>
    </mat-tab-group>
  </div>


</div>
