.cover{
  width: 872px;
  height: 290.65px;
}
.avatar{
  padding: center;
  margin-top: -100px;
  margin-left: 500px;
  width: 250px;
  height:250px;
}
.changeAvatar{
  padding: center;
  margin-top: -200px;
  margin-left: 600px;
}
.changeCover{
  padding: center;
  margin-top: -200px;
  margin-left: 900px;
}
.UserName{
  margin-left: 500px;
  font-style: Bold;
}
.Biology{
  margin-left: 500px;
  font-style: Bold;
}
