.cover{
  width: 1200px;
  height: 800px;
}
.avatar{
  padding: center;
  margin-top: -100px;
  margin-left: 500px;
  width: 250px;
  height:250px;
}
.UserName{
  margin-left: 500px;
  font-style: Bold;
}
.Biology{
  margin-left: 500px;
  font-style: Bold;
}
