<div class="container">
  <!--Heading -->
  <div class="Heading">
    <div class="image">
      <img class="cover" src="https://dotchuoinon.files.wordpress.com/2018/09/1621895.jpg?w=1200" alt="Cover">
    </div>
    <div class="image">
      <img class="avatar" src="https://wallpaperaccess.com/full/1371935.jpg" alt="">
    </div>
    <div class="">
      <span class="UserName"> Tên người dùng vứt ở đây </span>
    </div>
    <div class="">
      <span class="Biology"> Mô tả ngắn về mày ở đây</span>
    </div>
  <div class="RoutingButton">
    <a mat-button [routerLink]="['/']" > Dòng thời gian </a>
    <a mat-button [routerLink]="['/about']" > Giới thiệu </a>
    <a mat-button [routerLink]="['/friend']" > Bạn bè </a>
  </div>
  </div>

  <!--Content -->
  <div class="content">
    <div class="col-lg-5">
      <div class="CoutRating">
        <span>lượt theo dõi</span>
        <span>Bài viết</span>
        <span>lượt thích</span>
      </div>
      <div class="About">
        <span >Giới thiệu</span>
        <span>Sở thích</span>
      </div>
      <div class="Picture">
        Ảnh
      </div>
      <div class="Friend">
        bạn bè
      </div>
    </div>
    <div class="col-lg-7">
      <div class="StatusPost">
        StatusPost
      </div>
      <div class="Post">
        post
      </div>
    </div>

  </div>

</div>
