<mat-card>
    <mat-card-content>
      <div class="header" header>
        <!-- Alert login -->
        <div class="alert alert-info alert-dismissable" *ngIf="alertError">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          {{errCatching}}
        </div>

        <P>Đăng nhập vào tài khoản của bạn</P>
      </div>
      <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="vidu@gmail.com" required
            />
            <mat-error *ngIf="!loginForm.controls['email'].valid">
                Bạn cần phải nhập tài khoản email
              </mat-error>
          </mat-form-field>
        </div>

        <div>
          <span>
            <a class="text-link" class="aLink" routerLink="/forgot-password">Quên mật khẩu?</a>
          </span>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Mật khẩu</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.controls['password'].valid">
            Mật khẩu cần ít nhất 6 ký tự
          </mat-error>
        </mat-form-field>
        </div>
        <button mat-flat-button style="background-color:green; color:white;" >Đăng nhập</button>
      </form>
    </mat-card-content>
  </mat-card>
