<div id="chatForm">

  <div id="right">
    <div class="header">
      {{friend.name}}
    </div>
    <div id="listMessages" >
      <p *ngFor=""></p>
    </div>

    <input type="text" id="txtMessage" [(ngModel)] = "messageFromClient" (onChange)="TypingEvent()">
    <input type="button" id="btnSendMessage" (click)="SendMessage(messageFromClient)" value="Send">

  </div>
  <div style="border: solid 1px black" *ngFor="let something of showSomething">

  </div>
</div>

<script type="text/javascript">
  $('#btnSendMessage').keypress(function(event) {
     if (event.keyCode == 13 || event.which == 13) {
     SendMessage(messageFromClient);
}
});
</script>
