<mat-card class="example-card">
  <mat-card-header>
    <img src="https://the-social-network1.herokuapp.com/public/upload/{{friend.avatar}}" mat-card-avatar alt="">
    <mat-card-title>{{friend.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content style="min-height: 400px; border: 1px green solid; margin: 10px auto;">
    <div class="comment" [hidden] = false>
      <div class="comment" *ngFor = "let message of listMessages.content" style="padding: 10px 10px; margin-top:10px; margin-bottom:10px;">
        <div class="row" *ngIf="isFriend(message)">
          <div class="col-sm-1">
            <img src="https://the-social-network1.herokuapp.com/public/upload/{{friend.avatar}}" mat-card-avatar alt="">
          </div>
          <div class="col-sm-5">
            <div class="rightCommentLayout">
              <div class="rightBottomCommentLayout">
                <span style="font-size: 13px;font-weight: normal; padding: 10px 10px; margin-top:0px; margin-bottom:10px;">{{message.content}}</span>
              </div>
            </div>
          </div>
          <div class="rol-sm-6">

          </div>
        </div>
        <div class="row" *ngIf="isYou(message)">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-5">
            <div class="rightCommentLayout">
              <div class="rightBottomCommentLayout">
                <span style="font-size: 13px;font-weight: normal; padding: 10px 10px; margin-top:0px; margin-bottom:10px;">{{message.content}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-1">
            <img src="https://the-social-network1.herokuapp.com/public/upload/{{you.avatar}}" mat-card-avatar alt="">
          </div>
        </div>
      </div>
      </div>
  </mat-card-content>
  <mat-card-actions>
    <img mat-card-avatar src="https://the-social-network1.herokuapp.com/public/upload/{{you.avatar}}" alt="">
    <input matInput type="text" name="" value="" style="width: 75%; height: 35px; border: 1px green solid; margin-left:10px;" [formControl] = "message">
    <button mat-button style="color: white; background-color:green;" (click)="SendMessage()">Gửi</button>
  </mat-card-actions>
</mat-card>
