<mat-sidenav-container>
  <!--Left menu -->
  <mat-sidenav #right position="start" #sidenav mode = "side" style="width:350px" [(opened)] = "leftOpened">
    <mat-card class="mat-elevation-z1">
      <div class="clock inactive waves-effect">{{time}}</div>
    </mat-card>
    <mat-nav-list>
      <mat-card class="mat-elevation-z1">
        <mat-card-header>
          <mat-card-title>Thời tiết Hà Nội</mat-card-title>
          <mat-card-subtitle>Hôm nay: {{date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-row">
                <div class="temp">
                  <span class="big-text">{{temperature}} C</span>
                  <span>Hum: {{humidity}}</span>
                  <span>UV: {{UVLevel}}</span>
                </div>
                <div class="outlook">
                  <img src="http://openweathermap.org/img/wn/02d@2x.png" />
                  <span>Few Clouds {{rainState}}</span>
                </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-nav-list>
    <mat-card class="mat-elevation-z1 bottom">
      <div class="">Saved </div>
      <div class="clock inactive waves-effect">{{plasticBottle}}</div>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <!--Right menu -->
  <mat-sidenav #left position="end" #sidenav mode = "side" [(opened)] = "rightOpened" style="width:350px;" *ngIf="_authService.loggedIn()">
    <a mat-button *ngIf="alertError">{{errCatching}}</a>
    <mat-card *ngFor="let friend of friendList">
      <div class="GetAllFriend" *ngIf="!alertError">
        <img src="http://localhost:8080/public/upload/{{friend.avatar}}" mat-card-avatar>
        <a mat-button  routerLink="/chat/{{friend.Friend_ID}}">{{friend.name}}</a>
      </div>
    </mat-card>
    <span>Online user</span>
    <mat-card *ngFor="let friend of listUser">
      <div class="getOnlineFriendOnly" *ngIf="!alertError">
        <a mat-button  routerLink="/chat/{{friend.User_ID}}">{{friend.name}}</a>
      </div>
    </mat-card>
  </mat-sidenav>
</mat-sidenav-container>
