mat-sidenav-container {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 26px;
}

mat-card-header{
  text-align: center;
}

mat-sidenav{
  backgroud-color: primary;
}

mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}

div {
    flex: 50%;
    border-radius: 10px;
    padding: 10px;
}
.a{
  font-size: 15pt;
  font-family:inherit;
  font-weight: bolder;
}
.temp {
    background: lightblue;
    color: black;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.outlook {
  color: black;
  text-align: center;
  background: rgba(0,0,0,0.1);
}

.big-text {
  font-size: 22px;
  font-weight: bold;
}

.image {
  height: 80px;
}

.clock {
	position: relative;
	width: 100%;
	display: block;
	margin: 10px auto;

	font-size: 50px;
	color: #0277BD;
	text-align: center;

	background-color: #fff;
	border-radius: 2px;

	transition: all 0.4s ease-in, box-shadow 0.2s;
}

.clock.inactive {
	color: #9e9e9e;
}

.clock .overlay{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

.switch label .lever:after{
	background-color:#fff;
}

.bottom{
margin-top:10px;
}
