<mat-sidenav-container>
  <!--Left menu -->
  <mat-sidenav #right position="start" #sidenav mode = "side" style="width:350px" [(opened)] = "leftOpened">
    <mat-card class="mat-elevation-z1">
      <div class="clock inactive waves-effect">{{time}}</div>
    </mat-card>
    <mat-nav-list>
      <mat-card class="mat-elevation-z1">
        <mat-card-header>
          <mat-card-title>Thời tiết Hà Nội</mat-card-title>
          <mat-card-subtitle>Hôm nay: {{date}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-row">
                <div class="temp">
                  <span class="big-text">{{temperature}} C</span>
                  <span>Hum: {{humidity}}</span>
                  <span>UV: {{UVLevel}}</span>
                </div>
                <div class="outlook">
                  <img src="http://openweathermap.org/img/wn/02d@2x.png" />
                  <span>Few Clouds {{rainState}}</span>
                </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-nav-list>
    <mat-card class="mat-elevation-z1 bottom">
      <div class="a">Số lượng chai nhựa tiết kiệm  </div>
      <div class="clock inactive waves-effect">{{plasticBottle}}</div>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  <!--Right menu -->

  <mat-sidenav #left position="end" #sidenav mode = "side" [(opened)] = "rightOpened" style="width:350px;" *ngIf="_authService.loggedIn()">
    <a mat-button *ngIf="alertError">{{errCatching}}</a>
    <div class="GetAllFriend" *ngIf="!alertError">
      <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
      <a mat-button class="Friend"> <mat-icon class="Icon" routerLink="/"> assignment_ind </mat-icon> Danh sách bạn bè </a>
        </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let friend of friendList" routerLink="/chat/{{friend.Friend_ID}}">
          <img mat-card-avatar src="http://localhost:8080/public/upload/{{friend.avatar}}" alt="">
          <a mat-button>{{friend.name}}</a>
        </div>
      </mat-expansion-panel>
    </div>
    <br>
    <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <a mat-button class="Friend"> <mat-icon class="Icon" routerLink="/"> face </mat-icon> Bạn bè trực tuyến </a>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="getOnlineFriendOnly" *ngIf="!alertError">
      <div *ngFor="let friend of listUser" routerLink="/chat/{{friend.Friend_ID}}">
        <img mat-card-avatar src="http://localhost:8080/public/upload/{{friend.avatar}}" alt="">
        <a mat-button>{{friend.name}}</a>
      </div>
    </div>
  </mat-expansion-panel>
  </mat-sidenav>
</mat-sidenav-container>
