<mat-card>
    <mat-card-content>
      <div class="header" header>
        <!-- Alert login -->
        <div class="alert alert-info alert-dismissable" *ngIf="alertError">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          {{errCatching}}
        </div>

        <P>Đăng ký tài khoản mới</P>
      </div>
      <form (ngSubmit)="onRegister()" name="registerForm" [formGroup]="registerForm">

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Họ và tên</mat-label>
            <input
              formControlName="name"
              matInput
              placeholder="Nguyễn Văn A" required
            />
            <mat-error *ngIf="!registerForm.controls['name'].valid">
                Bạn cần nhập tên của mình
              </mat-error>
          </mat-form-field>
        </div>

        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="vidu@gmail.com" required
            />
            <mat-error *ngIf="!registerForm.controls['email'].valid">
                Bạn cần nhập địa chỉ email
              </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Mật khẩu</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!registerForm.controls['password'].valid">
            Mật khẩu cần có ít nhất 6 ký tự
          </mat-error>
        </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Xác nhận mật khẩu</mat-label>
            <input formControlName="confirmPassword" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!registerForm.controls['confirmPassword'].valid">
            Mật khẩu cần có ít nhất 6 ký tự
          </mat-error>
        </mat-form-field>
        </div>
        <button mat-flat-button color="primary" style="background-color:green; color:white;" >Đăng ký</button>
      </form>
    </mat-card-content>
  </mat-card>
