<mat-card>
    <mat-card-content>
      <div class="header" header>
        <!-- Alert login -->
        <div class="alert alert-info alert-dismissable" *ngIf="alertError">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          {{errCatching}}
        </div>

        <P>Đổi mật khẩu</P>
      </div>
      <form (ngSubmit)="onChangePassword()" name="changePasswordForm" [formGroup]="changePasswordForm">
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Mật khẩu</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!changePasswordForm.controls['password'].valid">
            Mật khẩu cần có ít nhất 6 ký tự
          </mat-error>
        </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Xác nhận mật khẩu</mat-label>
            <input formControlName="confirmPassword" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        <mat-error *ngIf="!changePasswordForm.controls['confirmPassword'].valid">
            Mật khẩu cần có ít nhất 6 ký tự
          </mat-error>
        </mat-form-field>
        </div>
        <button mat-flat-button color="primary" style="background-color:green; color:white;" >Xác nhận</button>
      </form>
    </mat-card-content>
  </mat-card>
