mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
  }

.mat-body p, .mat-body-1 p, .mat-typography p{
  margin: 0 20px 12px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: green !important;
}

  .header{
    text-align: center;
    padding: 0px 20px;
  }
  .full-width {
    width: 80%;
  }

  .button-row {
    padding-top: 5px;
  }

  .button-row a {
    margin-right: 8px;
    text-align: center;
  }

  .forget-password{
    padding-left: 0px;
  }

  .emailInput{
    padding-top: 10px;
  }

  .contentBody {
    padding: 60px 1rem;
    background :green;
    display: block;
  }

  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
    color: green;
  }
