<mat-card>
    <mat-card-content>
      <div class="header" header>
        <!-- Alert login -->
        <div class="alert alert-info alert-dismissable" *ngIf="alertError">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          {{errCatching}}
        </div>

        <P>Lấy lại mật khẩu</P>
      </div>
      <form (ngSubmit)="onResetPassword()" name="resetPasswordForm" [formGroup]="resetPasswordForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter email address" required
            />
            <mat-error *ngIf="!resetPasswordForm.controls['email'].valid">
                Email is required
              </mat-error>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary">Xác nhận</button>
      </form>
    </mat-card-content>
  </mat-card>
