.cover{
  width: 700px;
  height: 400px;
}
.avatar{
  padding: center;
  margin-top: -100px;
  margin-left: 250px;
  width: 200px;
  height:200px;
}
.UserName{
  margin-left: 250px;
  font-style: Bold;
}
.Biology{
  margin-left: 250px;
  font-style: Bold;
}
