<mat-toolbar class="mat-elevation-z8">
  <a routerLink="/"> <mat-icon routerLink="/"> public </mat-icon> TSN </a>
  <span >
    <!-- Search form -->
      <mat-icon aria-hidden="true"> search </mat-icon>
      <input class="searchBox" type="text" placeholder="Search" aria-label="Search">
  </span>
  <div class="spacer"></div>

  <!-- Center -->
  <div class="center">
    <a mat-button [routerLink]="['/']" > Trang chủ </a>
    <a mat-button [routerLink]="['/something']" > Tin tức </a>
    <a mat-button [routerLink]="['/caidgiasd']" > Trò truyện </a>
  </div>

  <!-- Right -->
  <button mat-button [matMenuTriggerFor]="menu"><mat-icon matBadge="15" matBadgeColor="warn" *ngIf="_authService.loggedIn()">group</mat-icon></button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item> lời mời kết bạn </a>
  </mat-menu>
  <mat-icon matBadge="15" matBadgeColor="warn" *ngIf="_authService.loggedIn()">home</mat-icon>

  <span class="" *ngIf="_authService.loggedIn()">
    <button mat-button [matMenuTriggerFor]="menu">{{userProfile.name}}</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['/profile/',userProfile.userId]" >Ảnh đại diện</a>
      <button mat-menu-item>Cài đặt</button>
      <button mat-menu-item>Chỉnh sửa thông tin</button>
      <button mat-menu-item>Chủ đề yêu thích</button>
      <button mat-menu-item (click)="_authService.logoutUser()" *ngIf="_authService.loggedIn()">Đăng xuất</button>
    </mat-menu>
  </span>

  <a mat-button [routerLink]="['/login']" *ngIf="!_authService.loggedIn()" > Đăng nhập </a>
  <a mat-button [routerLink]="['/register']" *ngIf="!_authService.loggedIn()" > Đăng Ký </a>

</mat-toolbar>
