.active-link {
  background: white;
  color: green;
}

.mat-button:hover {
  background: white;
  color: blue;
}

.center{
  margin-left: auto;
  margin-right: auto;
  color: green;
}

.Logo{
  color: green;
}

.right{

}

.searchBox{
  background-color: none;
}
