<mat-toolbar class="mat-elevation-z8">
  <a mat-button routerLink="/"> <mat-icon routerLink="/"> public </mat-icon> TSN </a>
  <span>
    <!-- Search form -->
      <button mat-button><mat-icon class="mat-icon-rtl-mirror" aria-hidden="true"> search </mat-icon></button>
      <input matInput class="searchBox" type="text" placeholder="Search" aria-label="Search">
  </span>
  <div class="spacer"></div>

  <!-- Center -->
  <div class="center">
    <a mat-button [routerLink]="['/']" > Trang chủ </a>
    <a mat-button [routerLink]="['/news']" > Tin tức </a>
    <a mat-button [routerLink]="['/chat']" > Trò truyện </a>
  </div>

  <!-- Right -->
  <div class="right" *ngIf="_authService.loggedIn()">
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="!noFriendQueue"><mat-icon matBadge="{{friendRequest.length}}" matBadgeColor="warn">group</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="noFriendQueue"><mat-icon *ngIf="_authService.loggedIn()">group</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item *ngIf="noFriendQueue">{{noFriendQueueCatching}}</a>
      <div class="Friend_Queue" *ngIf="!noFriendQueue">
        <a mat-menu-item *ngFor="let friend of friendRequest">{{friend.name}} </a>
      </div>
    </mat-menu>
    <button mat-button><mat-icon matBadge="15" matBadgeColor="warn" *ngIf="_authService.loggedIn()">home</mat-icon></button>
  </div>

  <span class="" *ngIf="_authService.loggedIn()">
    <button mat-button [matMenuTriggerFor]="menu">{{userProfile.name}}</button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['/profile/',userProfile.userId]" >Ảnh đại diện</a>
      <button mat-menu-item>Cài đặt</button>
      <button mat-menu-item>Chỉnh sửa thông tin</button>
      <button mat-menu-item>Chủ đề yêu thích</button>
      <button mat-menu-item (click)="_authService.logoutUser()" *ngIf="_authService.loggedIn()">Đăng xuất</button>
    </mat-menu>
  </span>

  <a mat-button [routerLink]="['/login']" *ngIf="!_authService.loggedIn()" > Đăng nhập </a>
  <a mat-button [routerLink]="['/register']" *ngIf="!_authService.loggedIn()" > Đăng Ký </a>

</mat-toolbar>
