<mat-toolbar class="mat-elevation-z8">
  <a mat-button routerLink="/" class="Logo"> <mat-icon routerLink="/"> public </mat-icon> TSN </a>
    <span class=search *ngIf="_authService.loggedIn()">
      <!-- Search form -->
        <form class="example-form">
          <mat-form-field class="example-full-width">

            <input class= "b" type="text" matInput [formControl]="searchForm" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of options" [value]="options">
                {{option.content}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
    </span>
    <button mat-button (click)="Search()" [routerLink]="['/search']"><mat-icon class="mat-icon-rtl-mirror" aria-hidden="true" *ngIf="_authService.loggedIn()"> search </mat-icon></button>

  <div class="spacer"></div>

  <!-- Center -->
  <div class="center">
    <a mat-button [routerLink]="['/']" >     <mat-icon style="margin-top:15px;"> home </mat-icon> <br> <span> Trang chủ </span></a>
    <a mat-button [routerLink]="['/news']" > <mat-icon style="margin-top:15px;"> feed </mat-icon> <br> <span> Tin tức </span></a>
    <a mat-button [routerLink]="['/chat-room']" > <mat-icon style="margin-top:15px;"> chat </mat-icon> <br> <span> Trạm cứu hộ động vật  </span> </a>
  </div>

  <!-- Right -->
  <div class="right" *ngIf="_authService.loggedIn()">
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="!noFriendQueue"><mat-icon matBadge="{{friendRequest.length}}" matBadgeColor="warn">group</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="noFriendQueue"><mat-icon *ngIf="_authService.loggedIn()">group</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item *ngIf="noFriendQueue">{{noFriendQueueCatching}}</a>
      <div class="Friend_Queue" *ngIf="!noFriendQueue">
        <a mat-menu-item *ngFor="let friend of friendRequest">
          {{friend.name}}
          <button mat-button (click)="acceptFriendRequest(friend.FriendQueue_ID)">Chấp nhận</button>
          <button mat-button (click)="deleteFriendRequest(friend.FriendQueue_ID)">Từ chối</button>
        </a>
      </div>
    </mat-menu>
  </div>

  <span class="" *ngIf="_authService.loggedIn()">
    <button mat-button [matMenuTriggerFor]="menu">
      <img mat-card-avatar src="http://localhost:8080/public/upload/{{userProfile.avatar}}">
      <span> {{userProfile.name}} </span>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="['/profile/',userProfile.userId]">
        <img mat-card-avatar src="http://localhost:8080/public/upload/{{userProfile.avatar}}">
        {{userProfile.name}}
      </a>
      <button mat-menu-item [routerLink]="['/setting']">Cài đặt</button>
      <button mat-menu-item (click)="Logout()" *ngIf="_authService.loggedIn()">Đăng xuất</button>
    </mat-menu>
  </span>

  <a mat-button [routerLink]="['/login']" *ngIf="!_authService.loggedIn()" > Đăng nhập </a>
  <a mat-button [routerLink]="['/register']" *ngIf="!_authService.loggedIn()" > Đăng Ký </a>

</mat-toolbar>
